.card-animation {
    position: relative;
    transition: all 0.2s ease-in-out;
    background-color: #325935;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }
}

.card {
    border-radius: 20px;

    // &Style {
    //     // width: 500px;
    //     // height: 450px;
    // }
}