// COLORES  
$bg-principal: rgb(4 25 20);

$white: #f5f2ef;
$textColor: rgba(245, 242, 239, 0.7);

//FUENTES
@font-face {
    font-family: "lato_regular";
    src: url(#{$font-path}lato_regular.ttf);
}

@font-face {
    font-family: "lato_bold";
    src: url(#{$font-path}lato_bold.ttf);
}

$ff-regular: 'lato_regular', sans-serif;
$ff-bold: 'lato_bold', sans-serif;

@mixin border-radius {
    border-radius: 0px 0px 15px 15px;
}