$font-path: '../fonts/';

@font-face {
    font-family: "lato_regular";
    src: url(#{$font-path}lato_regular.ttf);
}

@font-face {
    font-family: "lato_bold";
    src: url(#{$font-path}lato_bold.ttf);
}


@import "variables";
@import "header";
@import "footer";
@import "card";
@import "imgStyles";

body {
    background-color: $bg-principal;
    color: white;
}


h1 {
    font-family: $ff-bold;
    color: #f5f2ef;
    font-size: 65px;
}

p {
    font-family: $ff-regular;
    color: rgba(245, 242, 239, 0.7);
    font-size: 18px;
}