$font-path: '../fonts/';

@font-face {
    font-family: "lato_regular";
    src: url(#{$font-path}lato_regular.ttf);
}

@font-face {
    font-family: "lato_bold";
    src: url(#{$font-path}lato_bold.ttf);
}

body {
    background-color: rgb(4 25 20);
    color: white;
}

@import "header";
@import "footer";

.imgStyle {
    border-radius: 20px;
    border: 2px solid #325935;
}

h1 {
    font-family: 'lato_bold';
    color: #f5f2ef;
    font-size: 65px;
}

p {
    font-family: 'lato_regular';
    color: rgba(245, 242, 239, 0.7);
    font-size: 19px;
}


.custom-title {
    font-family: 'lato_bold';
    color: #FFF8DE;
    font-size: 36px;
}

.custom-text {
    font-family: 'lato_regular';
    color: rgba(245, 242, 239, 0.7);
    font-size: 17px;
}

.custom-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.imgAboutSyle {
    width: 800px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #325935;
}

.card-animation {
    position: relative;
    transition: all 0.2s ease-in-out;
    background-color: #325935;

    &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transform: translateY(-5px);
    }
}

.card {
    border-radius: 20px;

    // &Style {
    //     // width: 500px;
    //     // height: 450px;
    // }
}